/*_________________________________
---------------------------------
***FOOTER***
_________________________________
---------------------------------*/
footer{
    background-color: #17202A;
    padding: 75px 150px 25px 150px;
}
footer a, footer ul{
    text-decoration: none;
    list-style: none;
    transition: all 300ms ease;
}
.flexfooter{
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    justify-content: space-between;
}
.guppyfooter, .guppycontactoe{
    display: flex;
    align-items: center;
}
.guppyfooter img{
    margin-right: 50px;
    width: 150px;
    color: #ECF0F1;
}
.guppyfootert, .guppyportfolio, .guppycontacto{
    width: 400px;
    line-height: 30px;
}
.guppycontacto i{
    margin-right: 15px;
}
.guppyfootert a{
    color: #ff8000;
}
footer h3{
    color: #D0d3d4;
    padding-bottom: 15px;
}
footer p, footer a, footer i{
    color: #7b7d7d;
}
.guppycopyright{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #c2c2c2;
    padding-top: 25px;
    margin-top: 50px;
}
.guppycopyright a{
    font-size: 25px;
    margin-left: 25px;
    transition: all 300ms ease;
}
.guppycopyright a i{
    transition: all 300ms ease;
}
.guppycopyright a i:hover, a:hover{
    color: #fff;
}
/*_________________________________
---------------------------------
***MEDIAQUERIES***
_________________________________
---------------------------------*/
@media only screen and (max-width: 1320px) {
    footer{
    background-color: #17202A;
    padding: 75px 75px 25px 75px;
}
}
@media only screen and (max-width: 970px) {
    footer{
    padding: 50px 30px 25px 30px;
}
    .flexfooter{
    padding-bottom: 0;
    }
    .guppyfooter img{
        margin-right: 15px;
        width: 115px;
        height: auto;
    }
    .guppyfootert, .guppyportfolio, .guppycontacto{
        line-height: 25px;
    }
    .guppycontacto i{
        margin-right: 5px;
    }
    .guppycopyright{
        padding-top: 25px;
        margin-top: 35px;
    }
    .guppycopyright a{
        font-size: 20px;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 700px) {
    footer{
    padding: 50px 30px 25px 30px;
}
    .flexfooter{
        margin: auto;
    }
    .guppyfooter img{
        display: none;
    }
    .guppycopyright{
        padding-top: 25px;
        margin-top: 35px;
    }
    .guppycopyright-t, .guppycopyright-e{
        width: 250px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 600px) {
    .flexfooter{
        display: block;
    }
    .guppyfooter img{
        width: 100px;
        display: block;
    }
    .guppyfooter, .guppyfootert, .guppyportfolio, .guppycontacto{
        margin: auto;
        width: 50%;
        float: left;
        margin-bottom: 50px;
        padding: 0 0 0 30px;
    }
    footer{
    padding: 50px 30px 25px 30px;
}
    .guppycopyright{
        padding-top: 25px;
        margin-top: 35px;
    }
    .guppycopyright-e{
        width: 150px;
    }
    .guppycopyright-e a{
        margin-left: 25px;
        line-height: 30px;
    }
}
@media only screen and (max-width: 540px) {
    .flexfooter{
        display: none;
    }
    .guppycopyright{
    position: relative;
    bottom: 0;
    width: 100%;
    display: block;
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}
    .guppycopyright-t{
        width: 90%;
        display: flex;
        text-align: center;
        margin: auto;
        padding: 0 10px;
    }
    .guppycopyright-e{
        margin: 15px 0 15px 0;
        text-align: center;
        width: 100%;
    }
    .guppycopyright-e a{
    font-size: 20px;
    margin-left: 10px;
        margin-right: 10px;
    line-height: 30px;
}
}
@media only screen and (max-width: 400px) {
    .guppycopyright-t{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    footer{
    padding: 35px 10px 20px 10px;
}
    .guppycopyright-e{
        margin: 15px 0 10px 0;
    }
    .guppycopyright-e a{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 30px;
    }
}