/*_________________________________
---------------------------------
***ARTICLE1***
_________________________________
---------------------------------*/
.oscuro section{
    background-color: #17202A;
}
.oscuro .seccionwrap{
    background-color: #34495E;
}
.oscuro .contenedorNP, .oscuro .gridNP, .oscuro .catalogo{
    background-color: #243445;
}
.oscuro .seccionwrap:hover{
    box-shadow: 0 0 35px rgba(40, 55, 71, 1);
}
.oscuro .seccionwrap h2{
    color: #F4F6F7;
}
.oscuro .seccionwrap p{
    color: #D0D3D4;
}
.oscuro .overlay{
    background: rgba(0,0,0,0.9);
}
.oscuro #s3{
    background-color: #10527b;
}
.oscuro .home .enlaces #e3{
    color: #10527b;
}
.oscuro .catalogo .swiper-slide h3{
    color: #fcfcfc;
}
.oscuro .catalogo a:hover{
    color: #fff;
    border-color: #fff;
}
.oscuro .catalogo .btn-descarga{
    border-color: #fff;
    background-color: #fff;
    color: #243445;
}
.oscuro .catalogo .btn-descarga:hover{
    background-color: #ff8000;
    border-color: #ff8000;
}