.oscuro .loader-animation-container{
    background-color: #000;
    opacity: .9;
}
.oscuro .loader-animation > div{
    background-color: #259ce2;
}

.loader-animation-container{
    height: 100vh;    
    display: flex;
    background-color: #ddd;
    opacity: .9;
    z-index: 9999999 !important;
    position: fixed;
    width: 100%;
}
.loader-animation{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}
.loader-animation > div{
    width: 1.5rem;
    height: 1.5rem;
    margin: 3rem .5rem;
    border-radius: 50%;
    background-color: #003c5f;
    animation: loader-animation .6s infinite alternate;
}
@keyframes loader-animation {
    to{
        opacity: .5;
        transform: translate3d(0, -1rem, 0);
    }
}
.loader-animation > div:nth-child(2){
    animation-delay: .2s;
}
.loader-animation > div:nth-child(3){
    animation-delay: .4s;
}
