@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,9008display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	z-index: 10000;
	transition: 0.6s;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header #toggle{
	position: relative;
	width: 20px;
	height: 30px;
	cursor: pointer;
}
header #toggle:before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
header #toggle:after{
	content: '';
	position: absolute;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
.banner.active header #toggle:before{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

}
.banner.active header #toggle:after{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);

}
.banner{
	position: fixed;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	background: url(img/fondo.png);
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2;
}
.banner.active{
	transform: translateX(-400px);
}
#navigation{
	position: fixed;
	top: 0;
	right: -200px;
	width: 400px;
	height: 100vh;
	background: #40c3ff;
	z-index: 1;
	display: grid;
	place-items: center;
	transition: 0.5s;
}
#navigation.active{
	right: 0px;
}
#navigation ul{
	position: relative;
	display: flex;
	flex-direction: column;
}
#navigation ul li{
	list-style: none;
}
#navigation ul li a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
}
.content{
	max-width: 600px;

}
.content h2{
	color: #40c3ff;
	font-size: 2.5em;
}

.content p{
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
}


@media (max-width: 767px){
	header{
		padding: 20px 50px;
	}
	.banner{
		padding: 100px 50px 150px;
	}
	.banner h2{
		font-size: 1.8em;
	}
	.banner .content p, .banner .content a{
		font-size: 1em;
	}
	.banner.active{
	transform: translateX(-250px);
}
#navigation{
	width: 250px;
}
#navigation ul li a{
	font-size: 1.5em;
	margin: 5px 0;
}

}